DATABASE_URL=

SECRET_KEY=

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30

#Development
LLM_PROVIDER=ollama

OLLAMA_MODEL=deepseek-r1:latest

#Deployment
LLM_PROVIDER=groq
GROQ_API_KEY=

GROQ_MODEL=llama-3.3-70b-versatile

QDRANT_URL=

QDRANT_API_KEY=

CACHE_ENABLED=true

DEBUG=false

CORS_ORIGINS=http://localhost:5173